.idea
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite

pids
logs
results

npm-debug.log
node_modules
config.js

lib/storage/**
!lib/storage/excluded-tables.json
db/storage/**
test/storage/**
