var config = {};
//Static configuration settings, eventually to be mutable by user from web app
config.ssh = {};
config.tunnel = {};
config.db = {};
config.web = {};

config.ssh.passphrase = 'key_passphrase';

config.tunnel.port = 12973;

config.web.port = 8800;

module.exports = config;