<% layout('../layout'); %>
<% script('/js/db-view.js'); %>
<% //var proper = action.charAt(0).toUpperCase() + action.substr(1); %>

<% var headerTitle = action == 'new' ? 'New Profile' : 'Editing Profile <span>'+profile['profile_name']+'</span>'; %>

<div id="profile-edit">
    <h2><%- headerTitle %></h2>
    <input type="hidden" id="type" value="<%- action %>" />
    <form>
        <div class="form-group">
            <label for="profile_name">Profile Name</label>
            <input type="text" class="form-control name" name="profile_name" placeholder="Profile Name" />
        </div>

        <div class="form-group">
            <label for="server_id">Client</label>
            <select id="server-select" name="server_id" class="form-control server_id"></select>
        </div>

        <div class="form-group">
            <label for="magento_path">Path to Magento</label>
            <input type="text" class="form-control name" name="magento_path" placeholder="Path on server to Magento root" />
        </div>


        <div class="form-group">
            <label>Excluded Tables</label>
            <div class="row">
                <div class="box-group">
                    <div class="box-group-content" id="tables-content">
                        <div id="table-controls">
                            <a class="select-all">Select All</a> |
                            <a class="select-none">Select None</a>
                        </div>
                        <div style="clear:both;"></div>
                        <div id="excluded-tables"></div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<script>
    $(function(){
        var type = $('#type').val();
        if (type === 'new') {
            var profileNew = new ProfileNew();
        }
        else {
            var profileEdit = new ProfileEdit();
        }

    });
</script>