<% layout('../layout'); %>

<% script('/js/db-view.js'); %>

<div id="site-profiles" class="database-view">

</div>

<div id="template" class="profile-template">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label for="profile_name">Profile Name</label>
                    <input type="text" class="form-control name" name="profile_name" placeholder="Profile Name" />
                </div>

                <div class="form-group">
                    <label for="server_id">Server</label>
                    <select name="server_id" class="form-control server_id"></select>
                </div>

                <div class="form-group">
                    <label for="magento_path">Path to Magento</label>
                    <input type="text" class="form-control" name="magento_path" placeholder="Path to Magento" />
                </div>

            </form>
        </div>
    </div>
</div>

<script>
$(function(){

});
</script>