<% layout('layout') %>
<% script('/js/database.js') %>

<div id="database">
    <ul class="list-group" id="database-messages"></ul>
    <div class="row">

        <form name="database-form" id="database-form">
        <ul class="list-group col-md-8" id="database-inputs">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Pick a site profile to use</h4>
                <div id="site-profile"></div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Password or Public Key</h4>
                <div id="pass-or-key">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="pass-or-key" class="key" value="key" />
                            Use Local Private Key
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="pass-or-key" class="password" value="password" />
                            Use Password
                        </label>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Selective or Full Dump</h4>
                <div id="dump-type">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="dump-type" class="selective" value="selective" />
                            Selective Table Dump
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dump-type" class="full" value="full" />
                            Full Dump
                        </label>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Run This Configuration</h4>

                <div id="run-output"></div>

                <div id="database-actions">
                    <button type="button" class="btn btn-warning btn-block" id="test-connection">Test Connection and Parameters</button>
                    <button type="button" class="btn btn-primary btn-block" id="run-config">Run Configuration</button>
                </div>

            </li>

        </ul>
        </form>

        <div class="col-md-4" id="database-display">
            <div class="form-group">
                <label>Site Profile</label>
                <p class="form-control site-profile"></p>
            </div>
            <div class="form-group">
                <label>SSH Host</label>
                <p class="form-control site-host"></p>
            </div>
            <div class="form-group">
                <label>SSH Username</label>
                <p class="form-control site-username"></p>
            </div>
            <div class="form-group">
                <label>SSH Authentication Method</label>
                <p class="form-control site-auth"><span class="label label-primary"></span></p>
            </div>
            <div class="form-group">
                <label>Type of Dump</label>
                <p class="form-control dump-type"><span class="label label-primary"></span></p>
            </div>
        </div>

    </div>
</div>

<div id="table-checkboxes-template">
    <div id="table-checkboxes-container">
        <h3 id="tables-toggle"><span class="glyphicon glyphicon-expand"></span> Database Tables to Exclude </h3>
        <div class="row">
            <div class="box-group">
                <div class="box-group-content" id="tables-content">
                    <div id="table-controls">
                        <a class="select-all">Select All</a> |
                        <a class="select-none">Select None</a>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="table-checkboxes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    var databasePage = new DatabasePage();
});
</script>