<% layout('layout') %>

<% script('/js/db-view.js') %>
<% script('/js/profiles.js') %>


<div id="site-profiles" class="database-view">

</div>

<div id="template" class="profile-template">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <input type="hidden" name="key" />
                <div class="form-group">
                    <label for="profile-name">Profile Name</label>
                    <input type="text" class="form-control name" name="profile-name" placeholder="Profile Name" />
                </div>

                <div class="form-group ssh-config">
                    <label for="ssh-config-name">SSH Config Name</label>
                </div>

                <div class="form-group">
                    <label for="site-path">Path to Magento</label>
                    <input type="text" class="form-control" name="site-path" placeholder="Path to Magento" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>

$(function(){
    var siteProfiles = new Profiles();
});
</script>