<% layout('layout'); %>

<% script('/js/db-view.js'); %>


<div id="servers" class="database-view"></div>

<div id="template" class="server-template">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label for="name">Server Name</label>
                    <input type="text" class="form-control name" name="server_name" placeholder="Server Name" />
                </div>

                <div class="form-group">
                    <label for="client_id">Client</label>
                    <select name="client_id" class="form-control client_id"></select>
                </div>

                <div class="form-group">
                    <label for="name">SSH Host</label>
                    <input type="text" class="form-control name" name="ssh_host" placeholder="SSH Host" />
                </div>

                <div class="form-group">
                    <label for="name">SSH Username</label>
                    <input type="text" class="form-control name" name="ssh_username" placeholder="SSH Username" />
                </div>

                <!--
                <div class="form-group ssh-config">
                    <label for="ssh-config-name">SSH Config Name for Server</label>
                </div>
                -->
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){
        var clients = new Servers();
    });
</script>