<% layout('layout') %>
<div id="site-profiles">

</div>

<div id="profile-template">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <input type="hidden" name="key" />
                <div class="form-group">
                    <label for="profile-name">Profile Name</label>
                    <input type="text" class="form-control" name="profile-name" placeholder="Profile Name" />
                </div>

                <div class="form-group ssh-config">
                    <label for="ssh-config-name">SSH Config Name</label>
                </div>

                <div class="form-group">
                    <label for="site-path">Path to Magento</label>
                    <input type="text" class="form-control" name="site-path" placeholder="Path to Magento" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>

function SiteProfiles() {
    var siteProfiles;
    var $template = $('#profile-template').children().first().clone();
    var $container = $('#site-profiles');

    //Populate site profiles data
    $.ajax({
        url: '/getSiteProfiles',
        dataType: 'json',
        success: function(data) {
            siteProfiles = data;
            afterProfiles();
        }
    });

    function afterProfiles() {
        Tools.getSshConfig(function(data){
            //Add SSH Config values to select, pulled from ajax json response
            var $select = $('<select class="form-control" name="ssh-config-name"></select>');
            $select.append('<option value="">Select an SSH Config entry...</option>');
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    $select.append($('<option></option>').val(key).text(data[key]['label']));
                }
            }
            $template.find('.ssh-config').append($select);

            //Follow-up with creating the Add block from the generated template
            createAddBlock();
            renderProfiles();
            setupEvents();
        });
    }

    function setupEvents() {
        //New button
        $container.on('click', '.save-button', function(event){
            var $inputContainer = $(event.target).parents('.panel-primary');
            var $inputs = $inputContainer.find(':input').not(':button');
            if (!validate($inputs)) {
                return false;
            }
            $.ajax({
                url: '/saveSiteProfile',
                type: 'POST',
                data: $inputs.serialize(),
                success: function() {
                    document.location = document.location;
                }
            });
        });
    }

    function validate($inputs) {
        var errors = false;
        $container.find('.error').remove();
        $inputs = $inputs.not('[type=hidden]');

        $inputs.each(function(i, input){
            if ($(input).val() == '') {
                $(input).after('<span class="error text-danger">Value cannot be empty.</span>');
                errors = true;
            }
        });

        if (errors) {
            Tools.addAlert('Please fix the errors and re-submit', {className:'error', type:'danger'});
            return false;
        }
        return true;
    }

    function renderProfiles() {
        $.each(siteProfiles, function(i, profile){
            var $profile = $template.clone().addClass('edit-profile panel-primary');
            $profile.find(':input[name=key]').val(i);
            $profile.find(':input[name=profile-name]').val(profile['profileName']);
            $profile.find(':input[name=ssh-config-name]').val(profile['sshConfigName']);
            $profile.find(':input[name=site-path]').val(profile['sitePath']);

            $profile.prepend($('<div class="panel-heading"></div>').text(profile['profileName']));
            $profile.find('.panel-body').append('<div class="buttons"><button type="button" class="save-button btn btn-primary">Save</button></div>');
            $container.append($profile);
        });
    }

    function createAddBlock() {
        var $addBlock = $template.clone().addClass('add-profile panel-success');
        $addBlock.prepend('<div class="panel-heading">New Site Profile</div>');
        $addBlock.find('.panel-body').append($('<div class="buttons"><button type="button" class="save-button btn btn-success">Add</button></div>'));
        $container.prepend($addBlock);
    }

}

$(function(){
    var siteProfiles = new SiteProfiles();
});
</script>